In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
data=pd.read_csv("train_data.csv")
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
data["Gender"]=data["Gender"].map({"Male":1,"Female":0})
data["Married"]=data["Married"].map({"Yes":1,"No":0})
data['Education']=data['Education'].map({'Graduate':1,'Not Graduate':0})
data['Dependents'].replace('3+',3,inplace=True)
data['Self_Employed']=data['Self_Employed'].map({'Yes':1,'No':0})
data['Property_Area']=data['Property_Area'].map({'Semiurban':1,'Urban':2,'Rural':3})
data['Loan_Status']=data['Loan_Status'].map({'Y':1,'N':0})

In [4]:
null=['Gender','Married','Dependents','Self_Employed','Credit_History','LoanAmount','Loan_Amount_Term']
data[null]=data[null].replace({np.nan:data['Gender'].mode(),
                                   np.nan:data['Married'].mode(),
                                   np.nan:data['Dependents'].mode(),
                                   np.nan:data['Self_Employed'].mode(),
                                   np.nan:data['Credit_History'].mode(),
                                   np.nan:data['LoanAmount'].mean(),
                                   np.nan:data['Loan_Amount_Term'].mean()})

In [34]:
X=data.drop(columns=["Education","Loan_ID","Property_Area","Loan_Status"]).values
X

array([[  1.,   0.,   0., ..., 342., 360.,   1.],
       [  1.,   1.,   1., ..., 128., 360.,   1.],
       [  1.,   1.,   0., ...,  66., 360.,   1.],
       ...,
       [  1.,   1.,   1., ..., 253., 360.,   1.],
       [  1.,   1.,   2., ..., 187., 360.,   1.],
       [  0.,   0.,   0., ..., 133., 360.,   0.]])

In [35]:
Y=data["Loan_Status"].values

In [36]:
model=RandomForestClassifier(criterion="entropy",random_state=42)

In [37]:
model.fit(X,Y)

RandomForestClassifier(criterion='entropy', random_state=42)

In [38]:
test_data=pd.read_csv("dataset.csv")

In [39]:
test_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [40]:
test_data["Gender"]=test_data["Gender"].map({"Male":1,"Female":0})
test_data["Married"]=test_data["Married"].map({"Yes":1,"No":0})
test_data['Education']=test_data['Education'].map({'Graduate':1,'Not Graduate':0})
test_data['Dependents'].replace('3+',3,inplace=True)
test_data['Self_Employed']=test_data['Self_Employed'].map({'Yes':1,'No':0})
test_data['Property_Area']=test_data['Property_Area'].map({'Semiurban':1,'Urban':2,'Rural':3})

In [41]:
null=['Gender','Married','Dependents','Self_Employed','Credit_History','LoanAmount','Loan_Amount_Term']
test_data[null]=data[null].replace({np.nan:test_data['Gender'].mode(),
                                   np.nan:test_data['Married'].mode(),
                                   np.nan:test_data['Dependents'].mode(),
                                   np.nan:test_data['Self_Employed'].mode(),
                                   np.nan:test_data['Credit_History'].mode(),
                                   np.nan:test_data['LoanAmount'].mean(),
                                   np.nan:test_data['Loan_Amount_Term'].mean()})

In [42]:
np.unique(test_data["Education"])

array([0, 1])

In [43]:
X=test_data.drop(columns=["Education","Loan_ID","Property_Area"]).values

In [45]:
Y_result=model.predict(X)

In [46]:
answer=pd.DataFrame(test_data["Loan_ID"])

In [48]:
answer["Status"]=Y_result

In [64]:
answer.to_csv("answers_to_hackathon.csv",encoding="utf-8",index=False)